@import "./themes/mocha.css";

/* Global */
* {
  font-family: "JetBrainsMono Nerd Font", "IPA Gothic", FontAwesome, monospace;
  font-size: 1.2rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @text;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-cava-internal,
#custom-launcher,
#custom-media,
#custom-notification,
#custom-pacman,
#custom-powermenu,
#custom-reboot,
#custom-weather,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#mpd,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window,
#workspaces {
  padding: .3rem .6rem;
  margin-top: 0;
  margin-left: .1rem;
  margin-right: .1rem;
  margin-bottom: 0;
  background-color: transparent;
}

/* Bar */
window#waybar {
    background-color: rgba(30, 30, 46, 0.60);
    /*background: rgb(30,30,46);
    background: linear-gradient(
        90deg,
        rgba(30,30,46,0.75) 0%,
        rgba(30,30,46,0.50) 25%,
        rgba(30,30,46,0.75) 50%,
        rgba(30,30,46,0.50) 75%,
        rgba(30,30,46,0.75) 100%
    );*/
}

window > box {
  margin: .3rem;
  margin-bottom: 3px;
  border-radius: 1rem;
  background-color: transparent;
}


/* Workspaces */
#workspaces {
    background-color: transparent;
}

#workspaces:hover {
  background-color: @green;
}

#workspaces button {
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  background: transparent;
  color: @blue;
}

#workspaces button.active {
  color: @teal;
}

#workspaces button:hover {
  border: .2px solid transparent;
  color: @rosewater;
}

/* Tooltip */
tooltip {
  background-color: rgba(30, 30, 46, 1);
  border-radius: 1rem;
}

tooltip label {
    color: @lavender;
}

/* battery */
/*#battery {
  color: @lavender;
}
#battery.full {
  color: @green;
}
#battery.charging{
  color: @teal;
}
#battery.discharging {
  color: @peach;
}
#battery.critical:not(.charging) {
  color: @pink;
}*/

#custom-powermenu {
  color: @red;
}

/* mpd */
#mpd.paused {
  color: @text;
  font-style: italic;
}
#mpd.stopped {
  color: @text;
  background: transparent;
}
#mpd {
  color: @text;
}

/* Extra */
/*#custom-cava-internal{
  color: @peach;
  padding-right: 1rem;
}*/
/*#custom-launcher {
  color: @yellow;
}*/
/*#memory {
  color: @peach;
}*/
/*#cpu {
  color: @text;
}*/
#clock {
  color: @lavender;
}
/*#idle_inhibitor {
  color: @green;
}*/
#temperature {
    color: @lavender;
}

/*#backlight {
  color: @green;
}*/
#pulseaudio {
  color: @lavender;  /* not active */
}
#network {
  color: @lavender; /* not active */
}
#network.disconnected {
  color: @red;  /* not active */
}
/*#disk {
  color: @maroon;
}
#custom-pacman{
  color: @sky;
}
#custom-scratchpad-indicator {
  color: @yellow;
}*/
#custom-weather {
  color: @lavender;
}
#custom-media {
  color: #333333;
}
#custom-media.custom-spotify {
  color: #1db954;
}
#custom-media.custom-vlc {
  color: #ffa000;
}
#custom-notification {
  font-family: "JetBrainsMono Nerd Font";
}
