@import "./themes/mocha.css";

/* Global */
* {
  font-family: "JetBrainsMono Nerd Font", "IPA Gothic", FontAwesome, monospace;
  font-size: 1.2rem;
  /*border-radius: 1rem;*/
  transition-property: background-color;
  transition-duration: 0.5s;
  /*background-color: @base;*/
  /*background-color: rgba(30, 30, 46, 0.25);*/
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @text;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-cava-internal,
#custom-launcher,
#custom-media,
#custom-notification,
#custom-pacman,
#custom-powermenu,
#custom-reboot,
#custom-weather,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#mpd,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window,
#workspaces {
  padding: .3rem .6rem;
  margin-top: 0;
  margin-left: .1rem;
  margin-right: .1rem;
  margin-bottom: 0;
  /*margin: .1rem .1rem;*/
  /*background-color: rgba(30, 30, 46, 0.25);*/
  /*background-color: @base;*/
  background-color: transparent;
}

/* Bar */
window#waybar {
  /*background-color: transparent;*/
  background-color: rgba(30, 30, 46, 0.50);
}

window > box {
  margin: .3rem;
  margin-bottom: 3px;
  /*background-color: rgba(30, 30, 46, 0.25);*/
  /*background-color: @base;*/
  border-radius: 1rem;
  background-color: transparent;
  /*box-shadow: 0px 1px 4px 4px rgba(48, 48, 48, 0.5);*/
}


/* Workspaces */
#workspaces {
    background-color: transparent;
}

#workspaces:hover {
  background-color: @green;
}

#workspaces button {
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  color: @blue;
  background: transparent;
}

#workspaces button.active {
  color: @teal;
}

#workspaces button:hover {
  border: .2px solid transparent;
  color: @rosewater;
}

/* Tooltip */
tooltip {
  /*background-color: @base;*/
  background-color: rgba(30, 30, 46, 0.75);
}

tooltip label {
    color: @rosewater;
}

/* battery */
#battery {
  color: @mauve;
}
#battery.full {
  color: @green;
}
#battery.charging{
  color: @teal;
}
#battery.discharging {
  color: @peach;
}
#battery.critical:not(.charging) {
  color: @pink;
}
#custom-powermenu {
  color: @red;
  border-radius: 1rem;
}

/* mpd */
#mpd.paused {
  color: @pink;
  font-style: italic;
}
#mpd.stopped {
  color: @rosewater;
  background: transparent;
}
#mpd {
  color: @lavender;
}

/* Extra */
#custom-cava-internal{
  color: @peach;
  padding-right: 1rem;
}
#custom-launcher {
  color: @yellow;
}
#memory {
  color: @peach;
}
#cpu {
  color: @blue;
}
#clock {
  color: @rosewater;
}
#idle_inhibitor {
  color: @green;
}
#temperature {
  color: @sapphire;
}
#backlight {
  color: @green;
}
#pulseaudio {
  color: @mauve;  /* not active */
}
#network {
  color: @pink; /* not active */
}
#network.disconnected {
  color: @foreground;  /* not active */
}
#disk {
  color: @maroon;
}
#custom-pacman{
  color: @sky;
}
#custom-scratchpad-indicator {
  color: @yellow;
}
#custom-weather {
  color: @red;
}
#custom-media {
  color: #333333;
  /*font-weight: bold;*/
}
#custom-media.custom-spotify {
  color: #1db954;
}
#custom-media.custom-vlc {
  color: #ffa000;
}
#custom-notification {
  font-family: "JetBrainsMono Nerd Font";
}
