@import url("./.config/my-shared-config/colors/frappe.css");
/*@import url("./.config/my-shared-config/colors/mocha.css");*/

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
}

window {
    transition: 1s ease-in-out;
    background-color: transparent;
}

#input {
    margin: 5px;
    color: @text;
    background-color: @surface1;
    transition: 0.5s ease-in-out;
    border: none;
    border-radius: 10px;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: @base;
}

#outer-box {
    margin: 5px;
    padding: 5px;
    /*border: none;*/
    border-radius: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: @blue;
    /*border-width: 3px;*/
    background-color: @base;
    box-shadow: 0px 0px 2px 2px rgba(88, 91, 112, 0.75);
    transition: 1s ease-in-out;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 2px;
    border: none;
    color: @text;
}

#text:selected {
    color: @base;
}

#entry:selected {
    background-color: @blue;
    /*background-color: #313244;*/
    /*border-left-style: solid;*/
    border-width: 10px;
    border-radius: 2px;
    border-color: @blue;
}

#entry {
    border-left-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: @base;
}
