@import url("./.config/my-shared-config/colors/frappe.css");
/*@import url("./.config/my-shared-config/colors/gruv-dark.css");*/
/*@import url("./.config/my-shared-config/colors/mocha.css");*/

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
}

window {
    transition: 0.5s ease-in-out;
    background-color: transparent;
}

#input {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    border-style: solid;
    border-radius: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    outline: none;
    color: @base;
    background-color: @lavender;
    border-color: @text;
}

#input:focus {
    outline: none;
    box-shadow: none;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: @base;
}

#outer-box {
    margin: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-style: solid;
    transition: 1s ease-in-out;
    background-color: @base;
    border-color: @lavender;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 2px;
    border: none;
    color: @lavender;
}

#text:selected {
    font-weight: bold;
    color: @base;
}

#entry:selected {
    outline: none;
    background-color: @lavender;
}

#entry {
    margin-right: 0px;
    margin-left: 0px;
    border-width: 0px;
    border-radius: 0px;
    padding-left: 20px;
    background-color: @base;
}
