@import "../../colors/mocha.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
}

window {
    transition: 1s ease-in-out;
    background-color: transparent;
    box-shadow: 0px 0px 10px 10px rgba(87, 87, 127, 0.5);
}

#input {
    margin: 5px;
    color: @text;
    background-color: @surface1;
    transition: 0.5s ease-in-out;
    border: none;
    border-radius: 10px;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: @base;
}

#outer-box {
    margin: 15px;
    border: none;
    border-radius: 6px;
    background-color: #1e1e2e;
    box-shadow: 0px 0px 5px 5px rgba(85, 85, 135, 0.5);
    transition: 1s ease-in-out;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 2px;
    border: none;
    color: #cdd6f4;
}

#text:selected {
    /*color: #1e1e2e;*/
}

#entry:selected {
    background-color: #313244;
    border-left-style: solid;
    border-width: 10px;
    border-color: #f5e0dc;
}

#entry {
    border-left-style: solid;
    border-width: 10px;
    border-color: #1e1e2e;
}
